::-webkit-scrollbar
    width: 0

@font-face
    font-family: 'Verdana'
    src: url('../fonts/Verdana.ttf') format('opentype')
    font-weight: 300
@font-face
    font-family: 'Verdana'
    src: url('../fonts/Verdana-Bold.ttf') format('opentype')
    font-weight: 700

::selection
    background-color: #6E6E6E
    color: #ffffff

$offcanvas-horizontal-width: 100px

@keyframes rotate
    to
        transform: rotate(360deg)

@keyframes fadeOut
    to
        opacity: 0
        display: none

.main-preloader-container
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #1e1e1e
    display: flex
    align-items: center
    justify-content: center
    z-index: 100000

.main-preloader
    width: 150px
    height: 150px
    animation: rotate 1.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite normal forwards

body
    display: flex
    flex-direction: column
    margin: 0
    height: 100vh
    font-family: Verdana
    background-color: #2f2e2e
    color: #ffffff

    main
        display: flex
        margin-left: 0px
        .sidebar
            z-index: 1050
            align-items: center
            text-align: center
            color: #ffffff
            background-color: #1e1e1e
            min-width: 70px
            a
                color: inherit
                text-decoration: none
            .burger-menu
                span
                    margin-bottom: 6px
                    display: block
                    background-color: white
                    width: 2rem
                    height: 1px
                    transition: transform .3s ease, opacity .3s ease, top .3s ease, -webkit-transform .3s ease
                first-span-opened
                    transform: translateY(6px) rotate(45deg)
                second-span-opened
                    opacity: 0
                tgird-span-opened
                    transform: translateY(-8px) rotate(-45deg)
        #offcanvas-main
            color: #ffffff
            background-color: #1e1e1e
            padding-left: 70px
        .content
            margin: 3vh 4vw 2vh 4vw
            display: flex
            flex-direction: column

            .top
                display: flex
                justify-content: space-between
                margin-bottom: 20px
                .t-links
                    display: flex
                    a
                        margin-right: clamp(10px, 3vw, 100px)
                        color: inherit
                        text-decoration: none
                        font-size: 16px
                        max-height: 40px
                        display: flex
                        align-items: center

                .date-input, .group-input, .people-svg, .close-svg
                    background-color: #525252
                    color: #f8f8f8
                    border: none
                    text-align: center

            .schedule
                overflow-x: auto
                background-color: #333333
            .days
                display: grid
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
                background-color: #525252
                color: #ffffff
                border-radius: 15px
                justify-items: center
                text-align: center
                font-weight: 600
                min-width: 1070px
                .month-date
                    font-weight: 400
            .pairs
                display: flex
                flex-direction: row
                background-color: #2f2e2e
                .day-with-footer, .day-without-footer
                    flex: 1 1 0px
                    background-color: #505050
                    border-radius: 15px
                    overflow-y: auto
                    margin: 10px 5px 10px 0px
                    align-self: start
                .m-all
                    margin: 10px 5px 10px 5px
                .m-right
                    margin: 10px 0px 10px 5px
                .mn-wdth
                    min-width: 170px
                .pair
                    background-color: #686666
                    margin: 10px
                    padding: 10px
                    max-height: 170px
                    border-radius: 15px
                    display: flex
                    flex-direction: column
                    font-size: 13px
                    .date-time
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: center
                        margin-bottom: 5px
                        .time
                            color: #ffffff
                            font-weight: 700
                            font-size: 14px
                            padding: 5px 10px 5px
                            border-radius: 20px
                            white-space: nowrap
                            overflow: hidden
                            text-overflow: ellipsis
                        .date
                            font-size: 11px
                            text-align: right
                            display: -webkit-box
                            -webkit-line-clamp: 2
                            -webkit-box-orient: vertical
                            overflow: hidden
                    .rooms
                        display: flex
                        flex-direction: row
                        .room
                            margin-right: 10px
                            text-decoration: underline
                            font-size: 14px
                            white-space: nowrap
                            overflow: hidden
                            text-overflow: ellipsis
                    .discipline
                        margin: 10px 0 5px
                        font-weight: 600
                        display: -webkit-box
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                    .teacher
                        overflow: hidden
                        text-overflow: ellipsis
                        display: -webkit-box
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                .first
                    .time
                        background-color: #9987FF
                .second
                    .time
                        background-color: #FF87FF
                .third
                    .time
                        background-color: #86e673
                .fourth
                    .time
                        background-color: #6fa0ee
                .fifth
                    .time
                        background-color: #fabc71
                .sixth
                    .time
                        background-color: #3ccedb
                .seventh
                    .time
                        background-color: #FF8787
    footer
        display: grid
        grid-template-rows: 1fr 25px
        color: #ffffff
        background-color: #1e1e1e
        height: 200px
        .ft-links
            padding: 30px
            display: grid
            grid-template-columns: 10vw 1fr 1fr 1fr 1fr 0
            section
                display: grid
            a
                color: inherit
                font-weight: 600
                text-decoration: none
                font-size: 18px
                white-space: nowrap
                overflow: hidden
        .copyright
            text-align: center
            color: #bbbbbb
    .modal
        .modal-content
            background-color: #1E1E1E

@media (max-width: 500px)
    .sidebar
        display: none
    .day-with-footer
        max-height: calc(100vh - 200px - 70px - 160px - 3vh - 2vh - 20px - 10px)
    .day-without-footer
        max-height: calc(100vh - 70px - 160px - 3vh - 2vh - 20px - 10px)
    .schedule
        max-width: calc(100vw - 4vw - 4vw)

@media (min-width: 501px)
    .sidebar
        display: grid
    .day-with-footer
        max-height: calc(100vh - 200px - 70px - 40px - 3vh - 2vh - 20px - 10px - 100px) // last 100 px is unknown where
    .day-without-footer
        max-height: calc(100vh - 70px - 40px - 3vh - 2vh - 20px - 10px - 100px) // last 100 px is unknown where
    .schedule
        max-width: calc(100vw - 70px - 4vw - 4vw)

@media (max-width: 855px)
    .top
        max-height: 160px
    .top, .t-links, .t-inputs
        flex-direction: column
        margin-bottom: 10px
        a
            display: flex
            justify-content: center
            margin-bottom: 10px
        div
            justify-content: center

@media (min-width: 856px)
    .t-inputs
        a
            margin-left: 20px
    .day-with-footer
        max-height: calc(100vh - 200px - 70px - 40px - 3vh - 2vh - 20px - 10px)
    .day-without-footer
        max-height: calc(100vh - 70px - 40px - 3vh - 2vh - 20px - 10px - 2px) // last 2 px is unknown where
