# App
APP_NAME=raspyx
APP_VERSION=1.5.0

# Log
# debug, info, warn, error
LOG_LEVEL=info
# text, json
LOG_TYPE=json

# HTTP settings
HTTP_PORT=8080

# PG
PG_USER=postgres
PG_PASSWORD=root
PG_PORT=5432
PG_URL=postgresql://${PG_USER}:${PG_PASSWORD}@localhost:${PG_PORT}/${APP_NAME}db?sslmode=disable# local setup
#PG_URL=postgresql://${PG_USER}:${PG_PASSWORD}@postgres:${PG_PORT}/${APP_NAME}db?sslmode=disable# docker setup
PG_TIMEOUT=5
PG_ATTEMPTS=5

# JWT
JWT_SECRET=#EnterYourStrongSecretHere

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_URL=redis://default:${REDIS_PASSWORD}@localhost:${REDIS_PORT}/0# local setup
#REDIS_URL=redis://default:${REDIS_PASSWORD}@redis:${REDIS_PORT}/0# docker setup

# Parser
# Minutes
PARSER_TIMEOUT=1440

# RateLimiter
RL_LIMIT=10
RL_BURST=5

# Grafana
GRAFANA_PORT=3000

# Prometheus
PROMETHEUS_PORT=9090

# Kafka
KAFKA_PORT=9092
KAFKA_URL=localhost:${KAFKA_PORT}# local setup
#KAFKA_URL=localhost:${KAFKA_PORT}# docker setup
KAFKA_TOPIC_NAME=raspyx
KAFKA_TOPIC_PARTITIONS=1
KAFKA_TOPIC_REPLICATION_FACTOR=1