# App
APP_NAME=raspyx
APP_VERSION=0.0.1

# Log
LOG_LEVEL=debug # debug, info, warn, error
LOG_TYPE=json   # text, json

# HTTP settings
HTTP_PORT=8080

# PG
PG_USER=postgres
PG_PASSWORD=root
PG_PORT=5432
PG_URL=postgresql://${PG_USER}:${PG_PASSWORD}@postgres:${PG_PORT}/${APP_NAME}db?sslmode=disable

# JWT
JWT_SECRET=#EnterYourStrongSecretHere

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_URL=redis://default:${REDIS_PASSWORD}@redis:${REDIS_PORT}/0
